<%= content_for(:title) do %>
Booking
<% end %>
<!--
<ul>
  <li>
    <%= @booking.comment %>
  </li>
  <li>
    <%= @booking.start_date %>
  </li>
  <li>
    <%= @booking.end_date %>
  </li>
  <li>
    <%= @booking.status %>
  </li>
  <li>
    <%= @booking.price %>
  </li>
</ul> -->

<div class="container">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="row">
      <h2>Congratulations! </h2>
      <h3>Booking for <%= @booking.storage_space.title %> Storage Space</h3>
      <p>You have booked <%= @booking.storage_space.user.first_name.pluralize %> storage space from <%= @booking.start_date.strftime("%d-%m-%Y") %> till <%= @booking.end_date.strftime("%d-%m-%Y") %>.</p>
      <p>The total cost for your storage is: <%= @booking.price.symbol %> <%= @booking.price %></p>
    </div>
  </div>
</div>
