<div>
  <div>
    <h4>Bookings</h4>
  </div>
  <div>
    <ul>
    <% current_user.bookings.each do |booking| %>
      <li>Storage Space Title: <%= link_to booking.storage_space.title, storage_space_booking_path(booking.storage_space_id, booking.id) %> Start Date: <%= booking.start_date %> End Date: <%= booking.end_date %> - <%= link_to "Leave a review", storage_space_booking_path(booking.storage_space_id, booking.id) %></li>
    <% end %>
    </ul>
  </div>
</div>
<%= current_user.email %>
<div>
  <div>
    <h4>Storage Spaces</h4>
  </div>
    <ul>
      <% current_user.storage_spaces.each do |space| %>
        <li>Storage Space Title: <%= space.title %> - <%= link_to "View Storage", storage_space_path(space) %></li>
      <% end %>
    </ul>
</div>
