<div class="full-container">
  <div class="half-container col-sm-6">
    <div class="" style="display: flex; justify-content: space-between; flex-direction: column; height: 500px; width: 500px;">
      <div class="title text-left">
        <h2><%= @storage_space.title %></h2>
      </div>
      <div class="half-container" style="text-align: left">
        <p>Description:</p>
        <div class="textbox">
          <p><%= @storage_space.description %></p>
        </div>
        <p>Address:</p>
        <div class="textbox">
        <p><%= @storage_space.address %></p>
        </div>
        <div class="textbox price">
          <h5>Price:</h5>
          <h5><%= @storage_space.price_cents %> €</h5>
        </div>
      </div>
      <%= link_to "Book this space!", new_storage_space_booking_path(@storage_space), class: "btn-medium" %>
      <div class="crud-action">
        <%= link_to "Edit", edit_storage_space_path, class: "btn-crud"%>
        <%= link_to "Delete ", storage_space_path(@storage_space), class: "btn-crud", method: :delete%>
      </div>
    </div>
  </div>
  <div class="half-container col-sm-6">
    <div class="">
      <ul  class="nav nav-pills">
    		<li class="active"><a  href="#1b" data-toggle="tab">Images</a></li>
    		<li><a href="#2b" data-toggle="tab">Map</a></li>
    	</ul>
			<div class="tab-content">
			  <div class="tab-pane active" id="1b">
          <% if @storage_space.photo.filename.nil? %>
          <div class="avatar-large">
            <i class="fas fa-camera-retro"></i>
            <%= link_to "", @storage_space, class: "advert-link" %>
          </div>
          <% else %>
            <%= cl_image_tag @storage_space.photo, :gravity=>"center", :height=>500, :crop=>"fill", :quality=>"auto", :fetch_format=>:auto %>
          <% end %>
				</div>
				<div class="tab-pane" id="2b">
          <div
            id="map"
            style="
            width: 100%;
            height: 500px;
            margin: 0 auto;"
            data-markers="<%= @markers.to_json %>"
          ></div>
				</div>
			</div>
    </div>
  </div>
</div>

<!-- reviews -->

<div class="col-md-12">
  <h2>Reviews</h2>
  <div class="reviews-container">
    <% @storage_space.reviews[0..4].each do |review| %>
    <div class="review-container">
      <div class="review-box">
        <p><%= review.description %></p>
        <br>
        <ul class="list-inline stars box-stars">
          <% review.rating.times do %>
            <li><i class="fas fa-star";></i></li>
          <% end %>
        </ul>
        <div class="reviewer-name">
          <%= "#{review.user.first_name}" %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <div class="collapse" id="collapseExample">
    <div class="reviews-container">
      <% @storage_space.reviews.drop(5).each do |review| %>
      <div class="review-container">
        <div class="review-box">
          <p><%= review.description %></p>
          <br>
          <ul class="list-inline stars box-stars">
            <% review.rating.times do %>
              <li><i class="fas fa-star";></i></li>
            <% end %>
          </ul>
          <div class="reviewer-name">
            <%= "#{review.user.first_name}" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="button-container text-left">
    <button id="morereviews" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      See More Reviews
    </button>
  </div>
</div>
