<div class="container">
  <h3><%= @storage_space.title %></h3>
  <h5><%= @storage_space.description %></h5>
  <h5><%= @storage_space.address %></h5>
  <p><%= @storage_space.price_cents %></p>
  <% if @storage_space.photo.url  %>
  <h5><%= cl_image_tag @storage_space.photo, height:200, width:200 %></h5>
  <% end %>
</div>

<%= link_to "Book this space!", new_storage_space_booking_path(@storage_space), class: "btn-medium" %>

<%= link_to "Edit Ad", edit_storage_space_path%>
<%= link_to "Delete Ad", storage_space_path(@storage_space), method: :delete%>




