<div class="container" style="margin-top: 10px">
  <div class="row">
    <div class="searchbar">
      <%= form_tag search_index_path, method: :get do |f| %>
      <ul class="list-inline">
        <li>
          <%= text_field_tag :query, params[:query], placeholder: "Find exactly what you need!", class: "form"%>
        </li>
        <li>
          <input type="submit">
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</div>

<div class="container">

<% if @results == [] %>
  <%= "Unfortunately there are no results. The good thing is the search is working." %>
<% else %>
<% previous_item = nil %>
<div class="row">
  <% @results.each do |result| %>


  <!-- type title -->
    <!-- <div class="container container-margin"> -->
      <% if previous_item.nil? || result.class.name != previous_item.class.name  %>
        <div style="margin-bottom: 30px">
          <% if result.class.name == "StorageSpace" %>
            <div class="container"></div>
            <!-- <div class="row"> -->
            <h3>STORAGE SPACES</h3>
          <% elsif result.class.name == "BuyAdvert" %>
            <div class="container"></div>
            <!-- <div class="row"> -->
            <h3>WANTED</h3>
          <% else %>
            <div class="container"></div>
            <!-- <div class="row"> -->
            <h3>FOR SALE</h3>
          <% end %>
        </div>
      <% end %>
    <!-- </div> -->

    <!-- advert -->

      <div class="col-xs-12 col-sm-4">
          <% if result.photo.filename.nil? %>
          <div class="avatar-large card-margin-top">
            <i class="fas fa-camera-retro"></i>
            <%= link_to "", result, class: "advert-link" %>
          </div>
          <% else %>
            <div class="card-margin-top">
              <!-- <%= cl_image_tag result.photo, :crop=>"scale", :quality=>"auto:eco", :fetch_format=>:auto, class: "card img-responsive" %> -->
              <!-- make pictures fill the space -->
              <div class="card"
              style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
              url('<%= cl_image_path result.photo, height: 300, width: 400, :quality=>"auto:eco", :fetch_format=>:auto, crop: :fill %>')">
              </div>
              <%= link_to "", result %>
            </div>
          <% end %>
        <div class="card-body-margin-top">
          <div class="place-name"><%= link_to "#{result.title}", result %></div>
          <div class="price">$<%= result.price %></div>
        </div>
          <div class="item-adverts-footer card-margin-top">
            <div class="row card-row">
              <div class="item-adverts-footer-item item-adverts-footer-item-first">
                <div>
                  <h6>Posted by:</h6>
                </div>
                <div>
                  <p><%= result.user.username %></p>
                </div>
              </div>
              <div class="item-adverts-footer-item item-adverts-footer-item-border">
                <div>
                  <h6>Posted on:</h6>
                </div>
                <div>
                  <p><%= result.created_at.strftime("%d-%m-%Y") %></p>
                </div>
              </div>
              <div class="item-adverts-footer-item item-adverts-footer-item-border">
                <div>
                  <h6>Location:</h6>
                </div>
                <div>
                  <p><%= result.address ? "#{result.address}" : "?" %></p>
                </div>
              </div>
            </div>
          </div>
      </div>
    <!-- </div> -->
    <% previous_item = result %>
  <% end %>
<% end %>
</div>
</div>
