<%= content_for(:title) do %>
LWR Forum
<% end %>

<div class="wrapper">
  <div class="container">
    <div class="forum-messageboard-border">
      <div class="title text-left">
        <h2>All Messageboards</h2>
      </div>
    </div>

    <div class="container-margin container-flex">
        <div class="container" style="padding-left: 0;">
          <div class="forum-messageboard-border">
            <h5><strong>General Topics</strong></h5>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin"> <%= link_to "I am JAMES - Ask Me Anything!", forumpost_path %> </div>
            <div class="price">Seriously any question</div>
            <div class="forum-footer-text"><p>Posted by: James    Created on: 17/08/18   Batch: 163</p></div>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin"> <%= link_to "Did Magnus really give Chris Hemsworth 'Norse God' lessons?", forumpost_path %> </div>
            <div class="price">who, in your opinion was the better viking god?</div>
            <div class="forum-footer-text"><p>Posted by: Loki    Created on: 16/08/18   Batch: 163</p></div>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin"> <%= link_to "Basically Djamal", forumpost_path %> </div>
            <div class="price">I love WW2 jokes, please tell me some more.</div>
            <div class="forum-footer-text"><p>Posted by: James    Created on: 18/08/18   Batch: 163</p></div>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin"> <%= link_to "What it means to be barefoot in the modern world", forumpost_path %> </div>
            <div class="price">The tyranny of shoes has come to an end, free the toes!</div>
            <div class="forum-footer-text"><p>Posted by: Pleb    Created on: 15/08/18   Batch: 163</p></div>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin"> <%= link_to "Does Linnie own Pretty Poison?", forumpost_path %> </div>
            <div class="price">The conspiracy continues...</div>
            <div class="forum-footer-text"><p>Posted by: Lets    Created on: 17/08/18   Batch: 163</p></div>
          </div>
        </div>
        <div class="container" style="padding-right: 0;">
          <div class="forum-messageboard-border">
            <h5><strong>Recommedations</strong></h5>
          </div>
          <div class="forum-messageboard-border sub-forum-header">
            <h6><strong>Surfing</strong></h6>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin"> <%= link_to "Canggu Surf Spots", forumpost_path %> </div>
            <div class="price">Old Man's or Batu Balong</div>
            <div class="forum-footer-text"><p>Posted by: Julian    Created on: 14/08/18   Batch: 163</p></div>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin"> <%= link_to "Best Boards for Bali?", forumpost_path %> </div>
            <div class="price">What is the best size of board for surfing in Bali?</div>
            <div class="forum-footer-text"><p>Posted by: Julian    Created on: 13/08/18   Batch: 163</p></div>
          </div>
          <div class="forum-messageboard-border sub-forum-header">
            <h6><strong>Scooters</strong></h6>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin"> <%= link_to "Should I buy my own helmet?", forumpost_path %> </div>
            <div class="price">Yes - without doubt</div>
            <div class="forum-footer-text"><p>Posted by: Bob    Created on: 12/08/18   Batch: 163</p></div>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin"> <%= link_to "Price for a month?", forumpost_path %> </div>
            <div class="price">Find out what your classmates paid for a scooter in Canngu</div>
            <div class="forum-footer-text"><p>Posted by: John    Created on: 11/07/18   Batch: 163</p></div>
          </div>
          <div class="forum-messageboard-border sub-forum-header">
            <h6><strong>Accommodation</strong></h6>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin"> <%= link_to "Who has the best villa?", forumpost_path %> </div>
            <div class="price">Hugo does, that's who and that Ugo not Hugo.</div>
            <div class="forum-footer-text"><p>Posted by: Hugo    Created on: 12/08/18   Batch: 163</p></div>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin"> <%= link_to "Best to stay near the bootcamp?", forumpost_path %> </div>
            <div class="price">depends on how lazy you are.</div>
            <div class="forum-footer-text"><p>Posted by: John    Created on: 11/07/18   Batch: 163</p></div>
          </div>
        </div>
    </div>
  </div>
</div>
