<%= content_for(:title) do %>
<%= @buy_advert.title %>
<% end %>

<div class="full-container">
  <div class="half-container col-sm-6">
    <div class="" style="display: flex; justify-content: space-between; flex-direction: column; height: 500px; width: 500px;">

      <div class="title text-left">
        <h2><%= @buy_advert.title %></h2>
      </div>
      <div class="half-container" style="text-align: left">
        <p>Description:</p>
        <div class="textbox">
          <p><%= @buy_advert.description %></p>
        </div>
        <p>Address:</p>
        <div class="textbox-c">
        <p><%= @buy_advert.address %></p>
        </div>
        <div class="textbox price">
          <h5>Price:</h5>
          <h5><%= @buy_advert.price_cents %> <%= @buy_advert.price.symbol %> </h5>
        </div>
      </div>
      <div class="btn-medium-black" data-toggle="modal" data-target="#myModal">
        Send an email
      </div>
    </div>
  </div>
  <div class="half-container col-sm-6">
    <div class="">
      <ul  class="nav nav-pills">
        <li class="active"><a  href="#1b" data-toggle="tab">Images</a></li>
        <li><a href="#2b" data-toggle="tab">Map</a></li>
        <li><a href="#3b" data-toggle="tab">Contact</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="1b">
          <% if @buy_advert.photo.filename.nil? %>
          <div class="avatar-large">
            <i class="fas fa-camera-retro"></i>
            <%= link_to "", @buy_advert, class: "advert-link" %>
          </div>
          <% else %>
            <%= cl_image_tag @buy_advert.photo, :height=>500, :width=>600, :crop=>"fill", :quality=>"auto" %>
          <% end %>
        </div>
        <div class="tab-pane" id="2b">
          <div
            id="map"
            style="
            width: 100%;
            height: 500px;
            margin: 0 auto;"
            data-markers="<%= @markers.to_json %>"
          ></div>
        </div>
        <div class="tab-pane" id="3b">
          <div class="title text-left title-space">
          <p>Name:</p>
          <div class="textbox-contact">
            <p><%= @buy_advert.user.first_name %> <%= @buy_advert.user.last_name %></p>
          </div>

          <p>Batch number:</p>
          <div class="textbox-contact">
            <p><%= @buy_advert.user.batch_no %></p>
          </div>

           <p>Contact details:</p>
          <div class="textbox-contact">
            <ul class="list-inline">
              <li><i class="fab fa-whatsapp"></i></li>
              <li><p><%= @buy_advert.user.phone_number %></p></li>
            </ul>
            <ul class="list-inline">
              <li><i class="far fa-envelope-open"></i></li>
              <li><p><%= @buy_advert.user.email %></p></li>
            </ul>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Send email to <%= @buy_advert.user.email %></h4>
      </div>
      <div class="modal-body">
        <%= form_tag send_contact_email_path(@buy_advert), method: :post do |f| %>
          <%= text_field_tag :message, params[:message], placeholder: "Write your message",class: "form mail-form", rows: 10, cols: 25%>
          <input type="submit" id='email-submit'>
        <% end %>
      </div>
    </div>
  </div>
</div>










