<div class="container">
  <div class="row">
      <div>
        <%= simple_form_for @sell_advert do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.input :address %>
          <%= f.input :condition, :collection => %w[New Like-New Used] %>
          <%= f.label :category_id %>
          <%= f.collection_select :category_id, Category.order(:name), :id, :name, include_blank: true %>
          <%= f.label :subcategory_id, "Subcategory" %>
          <%= f.grouped_collection_select :subcategory_id, Category.order(:name), :subcategories, :name, :id, :name, include_blank: true %>
          <%= f.input :price_cents %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
  </div>
</div>

