
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body class="body <%= controller_name %> <%= action_name %>">
    <% if controller.controller_name == "pages" && controller.action_name == "home" %>
      <%= render 'shared/navbar' %>
      <%= yield %>
    <% else %>
      <%= render 'shared/navbar' %>
      <%= render 'shared/navbar_second' %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
    <% if controller.controller_name != "pages" && controller.action_name != "home" %>
      <div class="footer" style="height: 100px"></div>
    <% end %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=GOOGLE_API_BROWSER_KEY"></script>
    <%= javascript_pack_tag "map" %>
    <% if false %>
      <%= render 'shared/flashes' unless controller.controller_name == "pages" && controller.action_name == "home" %>
    <% end %>
  </body>
</html>
